<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleShortVersionString</key>
	<string>0.9.5</string>
	<key>CFBundleVersion</key>
	<string>00000905</string>
	<key>GIDWebClientID</key>
	<string>$(GID_WEB_CLIENT_ID)</string>
	<key>CADisableMinimumFrameDurationOnPhone</key>
	<true/>
	<key>CFBundleURLTypes</key>
	<array>
		<dict>
			<key>CFBundleTypeRole</key>
			<string>Editor</string>
			<key>CFBundleURLSchemes</key>
			<array>
				<string>$(RESERVED_CLIENT_ID)</string>
			</array>
		</dict>
	</array>
	<key>Caro Base Url</key>
	<string>$(CARO_BASE_URL)</string>
	<key>GIDClientID</key>
	<string>$(GID_CLIENT_ID)</string>
	<key>UILaunchScreen</key>
	<dict>
		<key>UIColorName</key>
		<string>LaunchBackground</string>
		<key>UIImageName</key>
		<string>LaunchLogo</string>
	</dict>
	<key>UIBackgroundModes</key>
	<array>
		<string>remote-notification</string>
	</array>
	<key>FirebaseAppDelegateProxyEnabled</key>
	<false/>
</dict>
</plist>
